.menudiv1
{
    margin: 7px 10px;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.menudiv2
{
    margin:0px 20px;
    display:flex;
    justify-content:space-between; 
    width:33%;
}
p
{
    font-size: 30px;
    color:Red;
}
.img1
{
    display:flex;
    justify-content:center;
}

.screendiv
{
    display:flex;
    justify-content: space-around; 
    width:100%;  
}
.razdel
{
    color:red;
    text-align: center;
}
.action:hover
{
    color:blue;
    background: red;
    border: 5px solid red;

}
.p1
{
    font-size:30px;
    color:red;
    text-decoration: none;
    font-family: mistral;
}
